parameters:

    paths:
        - src

    # The level 10 is the highest level
    level: 5

    ignoreErrors:
        - '#Call to static method#'
        - '#Call to an undefined method#'
        - '#Variable \$collection might not be defined#'
        - '#Left side of \&\& is always true\.#'
        - '#Variable \$result might not be defined\.#'
        - '#expects string, string\|null given#'
        - '#is used zero times and is not analysed#'

    excludePaths:

    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInMethodSignatures: true
    reportStaticMethodSignatures: true
    checkUninitializedProperties: true
    checkDynamicProperties: true
    reportAlwaysTrueInLastCondition: true
    reportWrongPhpDocTypeInVarTag: true
    checkMissingCallableSignature: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportAnyTypeWideningInVarTag: true
